## **Web Scraping de données sur des voitures de type venant en vente**

In [ ]:
# Importer package 
from requests import get
from bs4 import BeautifulSoup

import pandas as pd

In [ ]:
# url de la page 1
Url1 = 'https://www.expat-dakar.com/voitures/dakar?condition=used-abroad'
res1 = get(Url1)

In [ ]:
# Objet BeautifulSoup
soup1 = BeautifulSoup(res1.text)

In [ ]:
# Récupérer le code html de tous les conteneurs de la page 1
conteneurs = soup1.find_all('div',class_='listings-cards__list-item')

In [ ]:
# Premier conteneur de la page 1
conteneur = conteneurs[1]

In [ ]:
# Collecter les  données contenues sur le premier conteneur de la page 1 
Gen1 =conteneur.find('div',class_='listing-card__header__tags').find_all('span') # Utiliser find et find_all pour récupérer le code html contenant les quatre données ( Venant, Marque, Année, Automtique ou Manuelle )
Ven_Occ =Gen1[0].text # Voiture venant ou occasion (Récupérer Ven_Occ en partant de Gen1)
Marque= Gen1[1].text # Marque de la voiture (Récupérer Marque en partant de Gen1)
Année = Gen1[2].text  # Année de la voiture (Récupérer Année en partant de Gen1)
Aut_Man = Gen1[3].text # Voiture automatique ou manuelle (Récupérer Aut_Man en partant de Gen1)
Adresse = conteneur.find('div',class_="listing-card__header__location").text.replace('\n','') # Adresse 
Prix = conteneur.find('div',class_="listing-card__info-bar__price").span.text.strip().replace('\u202f','').replace(' F Cfa','') # Prix de la voiture
# Creation du dictionnaire qui contiendra les données du premier conteneur
obj1 = {
           'Ven_Occ': Ven_Occ,
           'Marque': Marque, 
           'Année': Année,
           'Aut_Man': Aut_Man, 
           'Adresse': Adresse,
           'Prix': Prix
      }
obj1

{'Ven_Occ': 'Venant',
 'Marque': 'Volkswagen',
 'Année': '2019',
 'Aut_Man': 'Automatique',
 'Adresse': 'Sacré-cœur,Dakar',
 'Prix': '24000000'}

In [ ]:
# Collecter les données de tous les conteneurs  de la première page 
data1 = []
for conteneur in conteneurs: 
  try :
    Gen1 =  Gen1=conteneur.find('div',class_='listing-card__header__tags').find_all('span')
    Ven_Occ = Gen1[0].text 
    Marque= Gen1[1].text
    Année = Gen1[2].text 
    Aut_Man = Gen1[3].text
    Adresse = conteneur.find('div',class_="listing-card__header__location").text.replace('\n','')
    Prix = conteneur.find('div',class_="listing-card__info-bar__price").span.text.strip().replace('\u202f','').replace(' F Cfa','')
      
    obj1 = {
           'Ven_Occ': Ven_Occ,
           'Marque': Marque, 
           'Année': Année, 
           'Aut_Man': Aut_Man, 
           'Adresse': Adresse,
           'Prix': Prix 
        }
    data1.append(obj1)   
  except:
    pass

In [ ]:
# Dataframe des données de la page 1
df1 = pd.DataFrame(data1)

In [ ]:
# Collecter les données de la page 1 à la page 311
df1 = pd.DataFrame() # Dataframe final
for p in range(1,312):


  # Fournir le code
  Url1 = f'https://www.expat-dakar.com/voitures/dakar?condition=used-abroad&page={p}'
  res1 = get(Url1)
  soup1 = BeautifulSoup(res1.text)
  conteneurs = soup1.find_all('div',class_='listings-cards__list-item')

  # code fournier le code
  data1 = []
  for conteneur in conteneurs: 

    try :
      Gen1 =  Gen1=conteneur.find('div',class_='listing-card__header__tags').find_all('span')
      Ven_Occ = Gen1[0].text 
      Marque= Gen1[1].text
      Année = Gen1[2].text 
      Aut_Man = Gen1[3].text
      Adresse = conteneur.find('div',class_="listing-card__header__location").text.replace('\n','')
      Prix = conteneur.find('div',class_="listing-card__info-bar__price").span.text.strip().replace('\u202f','').replace(' F Cfa','')
        
      obj1 = {
            'Ven_Occ': Ven_Occ,
            'Marque': Marque, 
            'Année': int(Année), 
            'Aut_Man': Aut_Man, 
            'Adresse': Adresse,
            'Prix': int(Prix) 
          }
      data1.append(obj1)   
    except:
      pass
  DF1 =pd.DataFrame(data1) # Dataframe d'une page 
  df1 =pd.concat([df1,DF1,],axis=0) # Concatenation de DF1 et df1

In [ ]:
# Afficher les 5 premiers lignes de df1
df1.head(5)

  Ven_Occ      Marque  Année      Aut_Man           Adresse      Prix
0  Venant       Mazda   2016  Automatique     Mermoz,Dakar    9800000
1  Venant  Volkswagen   2019  Automatique  Sacré-cœur,Dakar  24000000
2  Venant       Mazda   2016  Automatique      Mermoz,Dakar   9800000
3  Venant     Hyundai   2016  Automatique   Cambérène,Dakar  14500000
4  Venant        Ford   2015  Automatique         VDN,Dakar   6600000

In [ ]:
# Afficher la dimension de df1
df1.shape

(3376, 6)

In [ ]:
# Reset des index
df1.reset_index(drop = True, inplace =True)

In [ ]:
# Infos de données
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3376 entries, 0 to 3375
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ven_Occ  3376 non-null   object
 1   Marque   3376 non-null   object
 2   Année    3376 non-null   int64
 3   Aut_Man  3376 non-null   object
 4   Adresse  3376 non-null   object
 5   Prix     3376 non-null   int64
dtypes: int64(2), object(4)
memory usage: 158.4+ KB

## **Web Scraping de données sur des voitures de type occasion en vente**

In [ ]:
# Url de la page 1
Url2 = 'https://www.expat-dakar.com/vehicules?condition=used'
res2 = get(Url2 )

In [ ]:
# Objet BeautifulSoup
soup2 = BeautifulSoup(res2.text)

In [ ]:
# Récupérer le code html de tous les conteneurs de la page 1
Conteneurs = soup2.find_all('div',class_='listings-cards__list-item')

In [ ]:
# Premier conteneur de la page 1
Conteneur = Conteneurs[0]

In [ ]:
# Collecter les  données contenues sur le premier conteneur de la page 1
Gen2 = Conteneur.find('div',class_='listing-card__header__tags').find_all('span') # Utiliser find et find_all pour récupérer le code html contenant les quatre données ( D'occasion, Marque, Année, Automtique ou Manuelle )
Ven_Occ = Gen2[0].text  # Voiture venant ou occasion (Récupérer Ven_Occ en partant de Gen2)
Marque=  Gen2[1].text # Marque de la voiture (Récupérer Marque en partant de Gen2)
Année = Gen2[2].text # Année de la voiture (Récupérer Année en partant de Gen2)
Aut_Man = Gen2[3].text # Voiture automatique ou manuelle (Récupérer Aut_Man en partant de Gen2)
Adresse = Conteneur.find('div',class_="listing-card__header__location").text.replace('\n','')  # Adresse 
Prix =   Conteneur.find('div',class_="listing-card__info-bar__price").span.text.strip().replace('\u202f','').replace(' F Cfa','')  # Prix de la voiture
# Creation du dictionnaire qui contiendra les données du premier conteneur
obj2 = {
           'Ven_Occ': Ven_Occ,
           'Marque': Marque, 
           'Année': Année,
           'Aut_Man': Aut_Man, 
           'Adresse': Adresse,
           'Prix': Prix
      }
obj2

{'Ven_Occ': "D'occasion",
 'Marque': 'Land Rover',
 'Année': '2016',
 'Aut_Man': 'Automatique',
 'Adresse': 'Ngor,Dakar',
 'Prix': '14500000'}

In [ ]:
# Collecter les données de tous les conteneurs  de la première page 
data2 = []
for Conteneur in Conteneurs : 
  try :
    Gen2 = Conteneur.find('div',class_='listing-card__header__tags').find_all('span')
    Ven_Occ = Gen2[0].text 
    Marque= Gen2[1].text
    Année = Gen2[2].text 
    Aut_Man = Gen2[3].text
    Adresse = Conteneur.find('div',class_="listing-card__header__location").text.replace('\n','')
    Prix = Conteneur.find('div',class_="listing-card__info-bar__price").span.text.strip().replace('\u202f','').replace(' F Cfa','')
      
      
    obj2 = {
           'Ven_Occ': Ven_Occ,
           'Marque': Marque, 
           'Année': Année, 
           'Aut_Man': Aut_Man, 
           'Adresse': Adresse,
           'Prix': Prix 
        }
    data2.append(obj2)   
  except:
    pass

In [ ]:
# DataFrame des données de la page 1
df2 = pd.DataFrame(data2)

In [ ]:
df2.head(5)

      Ven_Occ      Marque Année      Aut_Man           Adresse      Prix
0  D'occasion  Land Rover  2016  Automatique        Ngor,Dakar  14500000
1  D'occasion     Hyundai  2015  Automatique  Sacré-cœur,Dakar  11500000
2  D'occasion        Ford  2012  Automatique         VDN,Dakar   5200000
3  D'occasion     Peugeot  2009     Manuelle  Guediawaye,Dakar   4500000
4  D'occasion        Ford  2013  Automatique    Mamelles,Dakar   3600000

In [ ]:
# Collecter les données de la page 1 à la page 334
df2 = pd.DataFrame()
for p in range(1,335):
  Url2 = f'https://www.expat-dakar.com/vehicules?condition=used&page={p}'
  res2 = get(Url2)
  soup2 = BeautifulSoup(res2.text)
  Conteneurs = soup2.find_all('div',class_='listings-cards__list-item')
  data2=[]
  for Conteneur in Conteneurs : 
    try :
      Gen2 = Conteneur.find('div',class_='listing-card__header__tags').find_all('span')
      Ven_Occ = Gen2[0].text 
      Marque= Gen2[1].text
      Année = Gen2[2].text 
      Aut_Man = Gen2[3].text
      Adresse = Conteneur.find('div',class_="listing-card__header__location").text.replace('\n','')
      Prix = Conteneur.find('div',class_="listing-card__info-bar__price").span.text.strip().replace('\u202f','').replace(' F Cfa','')
      
      obj2 = {
           'Ven_Occ': Ven_Occ,
           'Marque': Marque, 
           'Année': int(Année), 
           'Aut_Man': Aut_Man, 
           'Adresse': Adresse,
           'Prix': int(Prix) 
        }
      data2.append(obj2)
    except:
      pass
  DF2 = pd.DataFrame(data2) # Dataframe d'une page
  df2 =pd.concat([df2,DF2],axis=0) # Concaténation de DF2 et df2

In [ ]:
# Afficher les 5 premiers lignes de df2
df2.head(5)

      Ven_Occ      Marque  Année      Aut_Man           Adresse      Prix
0  D'occasion  Land Rover   2016  Automatique        Ngor,Dakar  14500000
1  D'occasion     Hyundai   2015  Automatique  Sacré-cœur,Dakar  11500000
2  D'occasion        Ford   2012  Automatique         VDN,Dakar   5200000
3  D'occasion     Peugeot   2009     Manuelle  Guediawaye,Dakar   4500000
4  D'occasion        Ford   2013  Automatique    Mamelles,Dakar   3600000

In [ ]:
# Afficher la dimension de df2
df2.shape

(3084, 6)

In [ ]:
# Reset des index de df2
df2.reset_index(drop = True, inplace =True)

In [ ]:
# Infos des données 
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3084 entries, 0 to 3083
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ven_Occ  3084 non-null   object
 1   Marque   3084 non-null   object
 2   Année    3084 non-null   int64
 3   Aut_Man  3084 non-null   object
 4   Adresse  3084 non-null   object
 5   Prix     3084 non-null   int64
dtypes: int64(2), object(4)
memory usage: 144.7+ KB

## Concater les deux dataframes des voitures venant avec celui des voitures D'occassion

In [ ]:
# Concaténation de df1 et df2
df_concat =pd.concat([df1,df2],axis=0)

In [ ]:
df_concat.shape

(6460, 6)

In [ ]:
# Reset des index  de df_concat
df_concat.reset_index(drop = True, inplace =True)

In [ ]:
# Afficher les 5 premiers lignes de df_concat
df_concat.head(5)

  Ven_Occ      Marque  Année      Aut_Man           Adresse      Prix
0  Venant       Mazda   2016  Automatique     Mermoz,Dakar    9800000
1  Venant  Volkswagen   2019  Automatique  Sacré-cœur,Dakar  24000000
2  Venant       Mazda   2016  Automatique      Mermoz,Dakar   9800000
3  Venant     Hyundai   2016  Automatique   Cambérène,Dakar  14500000
4  Venant        Ford   2015  Automatique         VDN,Dakar   6600000

In [ ]:
# Afficher les infos de df_concat
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6460 entries, 0 to 6459
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ven_Occ  6460 non-null   object
 1   Marque   6460 non-null   object
 2   Année    6460 non-null   int64
 3   Aut_Man  6460 non-null   object
 4   Adresse  6460 non-null   object
 5   Prix     6460 non-null   int64
dtypes: int64(2), object(4)
memory usage: 302.9+ KB